body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.navbar{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navbar-heading{
  font-size: 1rem;
  font-weight: 400;
  margin: 1em 1em 1em 1em;
}

.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
  margin-top: 20px;
}

.card-image{
  width: 300px;
  border-radius: 5px;
  margin-left: 150px;
  margin-right: 20px;
}

.location-maps{
  display: flex;
  align-items: center;
}

.location-maps>h4{
  font-weight: 300;
}

.location-maps>a{
  margin-left: 20px;
  color: #918E9B;
}

.title{
  margin-top: 0px;
}

.card-about{
  margin-right: 200px;
}